</div> <!-- end container -->
</main>
<footer class="text-start mt-5">
  <p>
    &copy; JessiePL 2025|
      <i class="bi bi-twitter"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-facebook"></i>
  </p>
</footer>
</body>
</html>

